{% load pagination_tags %}
{% with photos=gallery.photos.all %}
{% autopaginate photos 5 %}
{% paginate %}
{% for photo in photos %}
<div class="row-fluid">
	<div class="span12" >
        <div class="span6">
        <a class="gallery_photo" href="{{ photo.get_display_url }}" ><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}"/></a>
    	</div>
    	<div class="span6">
    		{{ photo.date_added|date:"d.m.Y" }}
	    	<div class="header">
	            <h6>{{ photo.title }}</h6>
	        </div>	
        <div id="testimonials">
          <div class="testimon">
            <div class="testimon-caption">
                {{ photo.caption|safe }}
            <div class="services_small">
                <a href="{{ photo.get_absolute_url }}" class="pull-left arrow_link">Читать дальше</a>
            </div>
            </div>
            <span class="arrow"></span>
            <div class="user-testimonial">{{ photo.title }}</div>
          </div>
        </div>
    	</div>
    </div>
</div>
{% endfor %}
{% paginate %}
{% endwith %}
