{% load i18n %}
<div class="span12">
<div class="row-fluid">
<div class="span6">
{% for news in last|slice:":2" %}
<dl class="news-article dl-horizontal">
  <dt>
    <div class="date">
      <span class="day">{{news.pub_date|date:"d"}}</span>
      <span class="month">{{news.pub_date|date:"N"}}</span>
      <span class="year">{{news.pub_date|date:"Y"}}</span>
    </div>
  </dt>
  <dd>
    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
    <p>
        {{news.excerpt|safe}}
    </p>
  </dd>
</dl>
{% empty %}
<div>{% trans "Нет ни одной записи" %}</div>
{% endfor %}
</div>
<div class="span6">
{% for news in last|slice:"2:" %}
<dl class="news-article dl-horizontal">
  <dt>
    <div class="date">
      <span class="day">{{news.pub_date|date:"d"}}</span>
      <span class="month">{{news.pub_date|date:"N"}}</span>
      <span class="year">{{news.pub_date|date:"Y"}}</span>
    </div>
  </dt>
  <dd>
    <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
    <p>
        {{news.excerpt|safe}}
    </p>
  </dd>
</dl>
{% endfor %}
</div>
</div>
</div>