{% load i18n %}
{% load pagination_tags %}
{% autopaginate latest 5 %}
{% paginate %}
<a href="/feed/"><img class="img_rss_news" src="{{STATIC_URL}}img/rss.jpg" alt="" /></a>
  {% for news in latest %}
    <article class="post row-fluid blog-article normal">
    <div class="span12">
      <div class="row-fluid">
        <div class="span12">
          <div class="content">
            <dl  class="dl-horizontal">
              <dt>
                <div class="date">
                    <span class="day">{{news.pub_date|date:"d"}}</span>
                    <span class="month">{{news.pub_date|date:"N"}}</span>
                    <span class="year">{{news.pub_date|date:"Y"}}</span>
                </div>
              </dt>

              <dd>
                <h2>
                  <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                </h2>

               <div class="blog-content">
                  {{news.excerpt|safe}}
                  <div class="row-fluid">
                    <div class="span12">
                      <a href="{{ news.get_absolute_url }}" class="read_more">
                        <span>Читать дальше</span>
                        <span class="icon"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </article>
  {% empty %}
    <div>{% trans "Нет ни одной записи" %}</div>
  {% endfor %}
  {% paginate %}

