{% extends "news_one.html" %}
{% load tagging_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block template_content %}
<article class="post row-fluid blog-article normal">
<div class="span12">
<div class="row-fluid">
  <div class="span12">
    <div class="content">
      <dl  class="dl-horizontal">
        <dt>
          <div class="date">
              <span class="day">{{object.pub_date|date:"d"}}</span>
              <span class="month">{{object.pub_date|date:"N"}}</span>
              <span class="year">{{object.pub_date|date:"Y"}}</span>
          </div>
        </dt>

        <dd>
          <h1>{{ object.title }}</h1>
         <div class="blog-content">
            {{object.content|safe}}
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>
</div>
</article>
<div class="row-fluid lines">

<div class="span12">

  <div class="tagcloud span12">
      <span class="title">Тэги</span>
      {% tags_for_object object as tags %}
      {% for tag in tags %}
        <a href='/advnews/tag/{{tag.id}}/' rel="tag">{{tag.name}}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

