{% extends "base.html" %}

{% block base_content %}
{% load i18n %}

<h1>{% trans "Latest news" %}</h1>

{% for object in latest %}
  <p><strong>{{ object.title }}</strong><br/><a href="{{ object.get_absolute_url }}">{% trans "Read more" %}</a></p>
{% endfor %}
{% endblock %}