{% for block in blocks %}
{% if forloop.counter0|divisibleby:"4" %}
{% if not forloop.first %}
    </div>
  </div>
</div>
{% endif %}  
<div class="row">
  <div class="span12">
    <div class="row-fluid row-dynamic-el">
{% endif %}
<div class="span3 services_small">
<dl class="dl-horizontal">
  <dt>
    <a href="{{ block.url }}"><img src="/media/{{ block.image }}" alt=""></a>
  </dt>
  <dd class="with_icon">
    <a href="{{ block.url }}"><h3>{{ block.title }}</h3></a>
    <p>
      {{ block.text }}
    </p>
    <a href="{{ block.url }}" class="pull-left arrow_link">Читать дальше</a>
  </dd>
</dl>
</div>
{% endfor %}
    </div>
  </div>
</div>