<form name="contactForm" class="standard-form row-fluid" method="POST" action="/add_review/">
    {% csrf_token %} 
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    <span class="label">Имя</span>
    <input class="span6" name="name"  type="text" id="themeple_name" value=""/>
    <span class="label">Фамилия</span>
    <input class="span6" name="last_name"  type="text" id="themeple_name" value=""/>
    <span class="label">E-Mail</span>
    <input class="span6" name="email"  type="text" id="themeple_e-mail" value=""/>
    <span class="label">Сообщение</span>
    <textarea class="span12" name="review" cols="40" rows="7" id="themeple_message" ></textarea>
    <p>
      <input type="submit"  value="Отправить" class="more-large" />
    </p>
</form>
