{% load cms_tags sekizai_tags compress %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% with request.current_page.get_meta_keywords as meta_keywords %}{% if meta_keywords %}{{ meta_keywords }}{% else %}{% page_attribute "page_title" %}{% endif %}{% endwith %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% placeholder "link_canonical" %}
    <link rel="pingback" href="xmlrpc.php" />
    <!-- Base Css -->
    {% compress css %}
    <link rel='stylesheet'  href='{{ STATIC_URL }}css/generated.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css'  href='{{ STATIC_URL }}css/bootstrap1bba.css?ver=3.5' type='text/css' media='all' />

    <link rel='stylesheet' id='stylesheet-css'  href='{{ STATIC_URL }}css/style.css' type='text/css' media='all' />

    <link rel='stylesheet' id='bootstrap-responsive-css'  href='{{ STATIC_URL }}css/bootstrap-responsive1bba.css?ver=3.5' type='text/css' media='all' />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <link rel='stylesheet' id='mediaelementplayer-css'  href='{{ STATIC_URL }}css/mediaelementplayer9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.fancybox-css'  href='{{ STATIC_URL }}fancybox/source/jquery.fancybox00c2.css?v=2.1.2&amp;ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='hoverex-css'  href='{{ STATIC_URL }}css/hoverex-all9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themeple_font_aw-css'  href='{{ STATIC_URL }}css/font-awesome9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themeple_font_aw_ie-css'  href='{{ STATIC_URL }}css/font-awesome-ie7.min9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider_css-css'  href='{{ STATIC_URL }}plugins/LayerSlider/css/layerslidercce7.css?ver=4.0.0' type='text/css' media='all' />
    {% endcompress %}
    <link rel='stylesheet' id='stylesheet-css'  href='{{ STATIC_URL }}css/style.css' type='text/css' media='all' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    {% compress js %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.8.1.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/layerslider.kreaturamedia.jquerycce7.js?ver=4.0.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/layerslider.transitionscce7.js?ver=4.0.0'></script>
    {% endcompress %}
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <script type='text/javascript'>
    $(document).ready(function(){
    $('.fancybox').fancybox();
    $('[rel=popover]').popover({html : true});
    $('[rel=clickover]').clickover({
        container: 'body',
        html: true,
        content: function () {
            return $(this).next('.popper-content').html();
        }
    });
    var s = document.createElement('SCRIPT');  
    s.src = '//yandex.st/share/share.js';  
    s.type = 'text/javascript';  
    document.getElementsByTagName('HEAD')[0].appendChild(s);  
    });
    </script> 
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6197496-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
      
  </script>
  </head>
  <body>
{% cms_toolbar %}

{% include "top_block.html" %}
  <!-- Header -->
  <div id="page-bg"></div>
  <header id="header">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <!-- Logo -->
          <div id="logo" class="">
            <a href="http://aquaweb.com.ua/">
              <img src='{{ STATIC_URL }}img/logo.png'  alt="Аква-вебстудио. На главную" title="Аква-вебстудио. На главную" />
            </a>
          </div>
          <!-- #logo -->
          <div id="navigation" class="nav_top pull-right ">
            <nav>
              {% include "vertical_menu_block.html" %}
            </nav>
          </div>
          <!-- #navigation --> </div>
      </div>

    </div>

  </header>
    <div class="header_page">
      <div class="container">
          {% block header_content %}<h1>{% page_attribute "page_title" %}</h1>{% endblock %}
      </div>

    </div>
    <div class="header_shadow"></div>
    <section id="content">
      <div class="container" id="blog">
        <div class="row">

          <aside class="span3 sidebar" id="widgetarea-sidebar">
            <div  class="widget widget_recent_entries">
              <div class="">
                <h5 class="widget-title">Подробнее</h5>
              </div>
                <div id="recent-posts-4" class="widget widget_recent_entries">
                  <ul>
                      {% show_menu_below_id "articles" 0 100 0 100 %}
                  </ul>
                </div>
            </div>
          </aside>
        <div class="span9">
          {% if messages %}
            {% for m in messages %}
            <div class="alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
              <a class="close" data-dismiss="alert" href="#">×</a> <strong></strong>
              {{ m }}
            </div>
            {% endfor %}
            <script type="text/javascript">
              $('.msg-alert').delay(5000).hide(1);
            </script>
          {% endif %}
            <div class="row-fluid">
            <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus"></div> 
             </div>
          {% block template_content %}
            {% placeholder "template_content" %}
          {% endblock %}
        <style>
        #orphus{
            opacity: 0;
            -moz-opacity: 0;
            filter: alpha(opacity=0);
        }
        </style>
        <a href="http://orphus.ru" id="orphus" target="_blank" title="Система Orphus"><img alt="Система Orphus" src="{{STATIC_URL}}img/orphus.gif" border="0" width="88" height="31"></a>  
        <script type="text/javascript" src="{{STATIC_URL}}js/orphus.js"></script>
        <div class="alert alert-orphus">
          Заметили ошибку? Пожалуйста, выделите ее мышкой и нажмите Ctrl+Enter
        </div>   
        </div>

        </div>
      </div>
    </section>          
{% include "footer_block.html" %}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
<style type="text/css" media="screen, projection">
@import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20088773",
      url:      "https://aquaw.zendesk.com",
      tabID:    "Поддержка",
      tabColor:    "#398FCA",
      tabPosition: "Right"
    });
  }
</script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  var yaParams = {/*Здесь параметры визита*/};
  </script>

  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter18387763 = new Ya.Metrika({id:18387763,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,params:window.yaParams||{ }});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/18387763" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  {% compress js %}
  <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-tooltip.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap-popover.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrapx-clickover.js'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}plugins/wp-retina-2x/js/retinaa3e3.js?ver=2012.10.09'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.easing.1.168b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.easing.1.368b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.mobilemenu68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/isotope68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.cycle.all68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/customSelect.jquery.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flexslider-min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}fancybox/source/jquery.fancybox68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-media68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.carouFredSel-6.1.0-packed68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/mediaelement-and-player.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/tooltip68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.hoverex68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.imagesloaded.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/switcher68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/main68b3.js?ver=1'></script>
  {% endcompress %}
{% render_block "js" %}
{% block finish %}{% endblock %}
</body></html>

