{% load cms_tags sekizai_tags compress %}
{% load i18n %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% with request.current_page.get_meta_keywords as meta_keywords %}{% if meta_keywords %}{{ meta_keywords }}{% else %}{% page_attribute "page_title" %}{% endif %}{% endwith %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% page_attribute meta_description %}">
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% placeholder "link_canonical" %}
    <link rel="pingback" href="xmlrpc.php" />
    <!-- Base Css -->
    {% compress css %}
    <link rel='stylesheet'  href='{{ STATIC_URL }}css/generated.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css'  href='{{ STATIC_URL }}css/bootstrap1bba.css?ver=3.5' type='text/css' media='all' />

    <link rel='stylesheet' id='stylesheet-css'  href='{{ STATIC_URL }}css/style.css' type='text/css' media='all' />

    <link rel='stylesheet' id='bootstrap-responsive-css'  href='{{ STATIC_URL }}css/bootstrap-responsive1bba.css?ver=3.5' type='text/css' media='all' />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <link rel='stylesheet' id='mediaelementplayer-css'  href='{{ STATIC_URL }}css/mediaelementplayer9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.fancybox-css'  href='{{ STATIC_URL }}fancybox/source/jquery.fancybox00c2.css?v=2.1.2&amp;ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='hoverex-css'  href='{{ STATIC_URL }}css/hoverex-all9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themeple_font_aw-css'  href='{{ STATIC_URL }}css/font-awesome9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='themeple_font_aw_ie-css'  href='{{ STATIC_URL }}css/font-awesome-ie7.min9d52.css?ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='layerslider_css-css'  href='{{ STATIC_URL }}plugins/LayerSlider/css/layerslidercce7.css?ver=4.0.0' type='text/css' media='all' />
    {% endcompress %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' id='stylesheet-css'  href='{{ STATIC_URL }}css/style.css' type='text/css' media='all' />
    {% compress js %}
    <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.8.1.js'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/layerslider.kreaturamedia.jquerycce7.js?ver=4.0.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9'></script>
    <script type='text/javascript' src='{{ STATIC_URL }}plugins/LayerSlider/js/layerslider.transitionscce7.js?ver=4.0.0'></script>
    {% endcompress %}
    {% render_block "css" %}
    {% block head %}{% endblock %}
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <script type='text/javascript'>
    $(document).ready(function(){
    var s = document.createElement('SCRIPT');  
    s.src = '//yandex.st/share/share.js';  
    s.type = 'text/javascript';  
    document.getElementsByTagName('HEAD')[0].appendChild(s);  
    });
    </script> 
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6197496-2']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
      
  </script>
  </head>
  <body>
{% cms_toolbar %}

{% include "top_block.html" %}
  <!-- Header -->
  <div id="page-bg"></div>
  <header id="header">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <!-- Logo -->
          <div id="logo" class="">
            <a href="http://aquaweb.com.ua/">
              <img src='{{ STATIC_URL }}img/logo.png'  alt="Аква-вебстудио. На главную" title="Аква-вебстудио. На главную" />
            </a>
          </div>
          <!-- #logo -->
          <div id="navigation" class="nav_top pull-right ">
            <nav>
              {% include "vertical_menu_block.html" %}
            </nav>
          </div>
          <!-- #navigation --> </div>
      </div>

    </div>

  </header>

     <div class="header_page">
      <div class="container">
          {% block header_content %}<h1>{% page_attribute "page_title" %}</h1>{% endblock %}
      </div>

    </div>
    <div class="header_shadow"></div>
      <section id="content" class="page-dynamic_template-home2">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row-fluid">
            <div class="yashare-auto-init" data-yashareL10n="ru"
             data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus"></div> 
             </div>
          <div class="row-fluid row-dynamic-el">

              <div class="span3 plain_text">
                {% placeholder "contact_text" %}
              </div>

              <div class="span6 contact_form">
                <div class="row-fluid">
                  <div class="row-fluid">
                    <div class="span12">
                      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=d&amp;source=s_d&amp;saddr=%D0%BF%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0+%D0%BB%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0+13&amp;daddr=%D0%9E%D0%BA%D1%82%D1%8F%D0%B1%D1%80%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.&amp;geocode=Fdya9AIdhU0PAimHyojWXy_YQDH4fEyQLNuh6Q%3BFVGZ9AId918PAg&amp;sll=49.584299,34.559512&amp;sspn=0.005739,0.013937&amp;hl=ru&amp;dirflg=w&amp;mra=dme&amp;mrsp=1&amp;sz=17&amp;ie=UTF8&amp;t=m&amp;ll=49.584299,34.559512&amp;spn=0.004869,0.00912&amp;z=16&amp;output=embed"></iframe><br>
                      <a href="https://maps.google.ru/maps?f=d&amp;source=embed&amp;saddr=%D0%BF%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0+%D0%BB%D0%B5%D0%BD%D0%B8%D0%BD%D0%B0+13&amp;daddr=%D0%9E%D0%BA%D1%82%D1%8F%D0%B1%D1%80%D1%8C%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.&amp;geocode=Fdya9AIdhU0PAimHyojWXy_YQDH4fEyQLNuh6Q%3BFVGZ9AId918PAg&amp;sll=49.584299,34.559512&amp;sspn=0.005739,0.013937&amp;hl=ru&amp;dirflg=w&amp;mra=dme&amp;mrsp=1&amp;sz=17&amp;ie=UTF8&amp;t=m&amp;ll=49.584299,34.559512&amp;spn=0.004869,0.00912&amp;z=16" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a>
                      {% if messages %}
                        {% for m in messages %}
                        <div class="alert alert-{% if m.tags == 'error' %}error{% else %}info{% endif %}">
                          <a class="close" data-dismiss="alert" href="#">×</a> <strong></strong>
                          {{ m }}
                        </div>
                        {% endfor %}
                        <script type="text/javascript">
                          $('.msg-alert').delay(5000).hide(1);
                        </script>
                      {% endif %}
                      {% placeholder "contact_form" %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="span3">
                <div id="widget_contact_info-6" class="widget widget_contact_info">
                  <h3 class="widget-title">Информация</h3>
                {% placeholder "info_text" %}
                </div>
                <div class="dyn_widget">
                  <div  class="widget social_widget">
                    <div class="dyn_side_title">
                      <h6 class="widget-title">Социальные сети</h6>
                    </div>
                    <div class="row-fluid" style="margin-bottom:20px;">
                      <div class="span12"></div>
                    </div>
                    <div class="row-fluid social_">
                      <div class="span12"></div>
                    </div>
                    <div class="row-fluid social_row">
                      <div class="span12">
                        <ul class="footer_social_icons">
                          <li class="vk">
                            <a href="http://vk.com/club30575498" target="_blank" rel="nofollow"> <i class="icon-vk"></i>
                            </a>
                          </li>
                          <li class="facebook">
                            <a href="https://www.facebook.com/pages/%D0%90%D0%BA%D0%B2%D0%B0-%D0%B2%D0%B5%D0%B1%D1%81%D1%82%D1%83%D0%B4%D0%B8%D0%BE-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82-%D0%BC%D0%B0%D0%B3%D0%B0%D0%B7%D0%B8%D0%BD%D0%BE%D0%B2-%D0%B8-%D0%BF%D1%80%D0%BE%D0%B4%D0%B2%D0%B8%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5/328210020541458" target="_blank" rel="nofollow"> <i class="icon-facebook"></i>
                            </a>
                          </li>
                          <li class="twitter">
                            <a href="https://twitter.com/aqua_web" target="_blank" rel="nofollow"> <i class="icon-twitter"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row-fluid">
              <div class="span12" style="margin-top: 30px;">
              <object type="application/x-shockwave-flash" data="//yandex.st/swf/panoplayer/3_3/player-11_5.ru.swf?3.3-5" width="100%" height="560" id="id1171096810379" style="visibility: visible;"><param name="flashvars" value="env=safari_537.36&amp;url=%2F%2Fmaps.yandex.ua%2Fservices%2Fpanoramas%2F1.x%2Fpanorama.xml%3Fl%3Dstv%26lang%3Dru-RU%26oid%3D1279913460_733889434_23_1337609085%26origin%3Dmaps%26provider%3Dstreetview&amp;view=110.45188501055996%2C2.566609353320193%2C90.05750559738722%2C42.675765196529966&amp;handler=id1169097072694handler"><param name="bgcolor" value="ffffff"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="wmode" value="opaque"></object>
              <span class="big_shadow"></span>
              </div>
          </div>
            </div>

        </div>
      </div>
    </section>          
{% include "footer_block.html" %}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.5/zenbox.js"></script>
<style type="text/css" media="screen, projection">
@import url(//assets.zendesk.com/external/zenbox/v2.5/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20088773",
      url:      "https://aquaw.zendesk.com",
      tabID:    "Поддержка",
      tabColor:    "#398FCA",
      tabPosition: "Right"
    });
  }
</script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  var yaParams = {/*Здесь параметры визита*/};
  </script>

  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter18387763 = new Ya.Metrika({id:18387763,
                      webvisor:true,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true,params:window.yaParams||{ }});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/18387763" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  {% compress js %}
  <script type='text/javascript' src='{{ STATIC_URL }}plugins/wp-retina-2x/js/retinaa3e3.js?ver=2012.10.09'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/bootstrap.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.easing.1.168b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.easing.1.368b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.mobilemenu68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/isotope68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.cycle.all68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/customSelect.jquery.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flexslider-min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}fancybox/source/jquery.fancybox68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}fancybox/source/helpers/jquery.fancybox-media68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.carouFredSel-6.1.0-packed68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/mediaelement-and-player.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/tooltip68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.hoverex68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.imagesloaded.min68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/switcher68b3.js?ver=1'></script>
  <script type='text/javascript' src='{{ STATIC_URL }}js/main68b3.js?ver=1'></script>
  {% endcompress %}
{% render_block "js" %}
{% block finish %}{% endblock %}
</body></html>

