{% load cms_tags sekizai_tags compress %}
{% load i18n %}
{% load menu_tags %}
  <div class="footer_wrapper">

    <div class="top_footer">
    </div>
    <footer id="footer">

      <div class="inner">
        <div class="container">
          <div class="row-fluid ff">

            <!-- widget -->
            <div class="span3">

              <div id="widget_contact_info-6" class="widget widget_contact_info">
                <h3 class="widget-title">Информация</h3>
                {% placeholder bottom1 or %}
                     {% show_placeholder "bottom1" "main" %}
                {% endplaceholder %}
            <div class="counters" >
                <!-- begin of Top100 code -->

            <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2758814"></script>
            <noscript>
            <a href="http://top100.rambler.ru/navi/2758814/">
            <img src="http://counter.rambler.ru/top100.cnt?2758814" alt="Rambler's Top100" border="0" />
            </a>

            </noscript>
            <!-- end of Top100 code -->


            <!--LiveInternet counter--><script type="text/javascript"><!--
            document.write("<a href='http://www.liveinternet.ru/click' "+
            "target=_blank><img src='//counter.yadro.ru/hit?t44.2;r"+
            escape(document.referrer)+((typeof(screen)=="undefined")?"":
            ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
            screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
            ";"+Math.random()+
            "' alt='' title='LiveInternet' "+
            "border='0' width='31' height='31'><\/a>")
            //--></script><!--/LiveInternet-->

            <!-- I.UA counter --><a href="http://www.i.ua/" target="_blank" onclick="this.href='http://i.ua/r.php?41374';" title="Rated by I.UA">
            <script type="text/javascript" language="javascript"><!--
            iS='<img src="http://r.i.ua/s?u41374&p257&n'+Math.random();
            iD=document;if(!iD.cookie)iD.cookie="b=b; path=/";if(iD.cookie)iS+='&c1';
            iS+='&d'+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)
            +"&w"+screen.width+'&h'+screen.height;
            iT=iD.referrer.slice(7);iH=window.location.href.slice(7);
            ((iI=iT.indexOf('/'))!=-1)?(iT=iT.substring(0,iI)):(iI=iT.length);
            if(iT!=iH.substring(0,iI))iS+='&f'+escape(iD.referrer.slice(7));
            iS+='&r'+escape(iH);
            iD.write(iS+'" border="0" width="88" height="31" />');
            //--></script></a><!-- End of I.UA counter -->

            <noscript>

            <a href="http://www.bigmir.net/" target="_blank"><img src="http://c.bigmir.net/?v16805901&amp;s16805901&amp;t2" width="88" height="31" alt="bigmir)net TOP 100" title="bigmir)net TOP 100" border="0"/></a>

            </noscript>

            <!--bigmir)net TOP 100-->
            </div>
              </div>
            </div>

            <div class="span6">

              <div id="tag_cloud-2" class="widget widget_tag_cloud">
                <h3 class="widget-title">Тэги</h3>
                <div class="tagcloud">
                  {% placeholder tags or %}
                       {% show_placeholder "tags" "main" %}
                  {% endplaceholder %}
                </div>
              </div>
            </div>

            <div class="span3">
              <div id="recent-posts-4" class="widget widget_recent_entries">
                <h3 class="widget-title">Последние новости</h3>
                {% placeholder recent or %}
                     {% show_placeholder "recent" "main" %}
                {% endplaceholder %}
              </div>
            </div>
          </div>
        <div class="row-fluid">
          <div class="span12 footercrumbs">
          {% placeholder footercrumbs %}
          </div>
        </div>
        </div>
      </div>

      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="span12">

                {% placeholder bottom2 or %}
                     {% show_placeholder "bottom2" "main" %}
                {% endplaceholder %}
            </div>

          </div>
        </div>
      </div>
      <!-- #copyright --> </footer>
    <!-- #footer --> </div>