{% extends "news.html" %}
{% block template_content %}
{%if found_entries %}
    Найдено на страницах:
    <ul>
    {% for one in found_entries %}
        <li><a href="{{ one.get_absolute_url }}">{{ one.get_title }}</a>
        </li>
    {%endfor%}
    </ul>
{% else %}    
    По вашему запросу ничего не найдено
{% endif %}
{% endblock %}