
    <span class="slider-img"></span>

    <section id="slider-fullwidth"  class="slider">

      <script type="text/javascript">
var lsjQuery = jQuery.noConflict();
            lsjQuery(document).ready(function() {
                if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('jquery'); }
                    else if(typeof jQuery.transit == "undefined" || typeof jQuery.transit.modifiedForLayerSlider == "undefined") { lsShowNotice('transit'); }
                        else {
                            lsjQuery("#layerslider_1").layerSlider({
                                width : '100%',
                                height : '400px',
                                responsive : true,
                                responsiveUnder : 940,
                                sublayerContainer : 940,
                                autoStart : true,
                                pauseOnHover : true,
                                firstLayer : 1,
                                animateFirstLayer : true,
                                randomSlideshow : false,
                                twoWaySlideshow : true,
                                loops : 0,
                                forceLoopNum : true,
                                autoPlayVideos : true,
                                autoPauseSlideshow : 'auto',
                                youtubePreview : 'maxresdefault.jpg',
                                keybNav : true,
                                touchNav : true,
                                skin : 'defaultskin',
                                skinsPath : 'http://ibusiness.themeple.co/wp-content/themes/ibusiness/plugins/LayerSlider/skins/',
globalBGColor : 'transparent',
navPrevNext : true,
                                navStartStop : false,
                                navButtons : false,
                                hoverPrevNext : true,
                                hoverBottomNav : false,
                                thumbnailNavigation : 'hover',
                                tnWidth : 100,
                                tnHeight : 60,
                                tnContainerWidth : '60%',
                                tnActiveOpacity : 35,
                                tnInactiveOpacity : 100,
                                imgPreload : true,
                            yourLogo : false,
                                yourLogoStyle : 'left: 10px; top: 10px;',
                                yourLogoLink : false,
                                yourLogoTarget : '_self',
                                cbInit : function(element) { },
                                cbStart : function(data) { },
                                cbStop : function(data) { },
                                cbPause : function(data) { },
                                cbAnimStart : function(data) { },
                                cbAnimStop : function(data) { },
                                cbPrev : function(data) { },
                                cbNext : function(data) { }
                            });
                        }
            });
        </script>
      <div id="layerslider_1" style="width: 100%; height: 400px; margin: 0px auto; background:#fafafa;border-bottom: 1px solid #e5e5e5; -webkit-box-shadow: inset 0 -2px 10px 1px rgba(1,1,1,0.05); -moz-box-shadow: inset 0 -2px 10px 1px rgba(1,1,1,0.05); box-shadow: inset 0 -2px 10px 1px rgba(1,1,1,0.05);">
        <div class="ls-layer"  style="slidedirection: bottom; slidedelay: 9000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; ">
          <img class="ls-s2"  src="{{ STATIC_URL }}images/2013/02/bg1final.jpg"  style="position: absolute; top: 0px; left: -498px; slidedirection : fade; slideoutdirection : fade;  durationin : 1500; durationout : 1500; easingin : easeInBack; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}images/2013/02/man11.png"  style="position: absolute; top: 37px; left: 497px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuart; easingout : easeInOutQuint; delayin : 600; delayout : 0; showuntil : 0; " alt="">
          <p class="ls-s2" style="position: absolute; top: 70px; left: 2px; slidedirection : top;   durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0; width:500px; font-size:40px; font-weight:500;">Комплекс 1С + интернет-магазин</p>
          <p  class="ls-s2 slider_font_color" style="position: absolute; top:168px; left: 1px; slidedirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2500; delayout : 0; showuntil : 0;   white-space: nowrap; font-size:25px;">Бизнес-процесы интернет-магазина</p>
          <p class="ls-s2"    style="position: absolute; top: 204px; left: 2px; slidedirection : fade; slideoutdirection : top;  durationin : 1000; durationout : 1500; easingin : easeInBack; easingout : easeInOutQuint; delayin : 3500; delayout : 0; showuntil : 0;width:500px;font-size:25px; ">
          Испытанные решения, успешный результат, готовые комплексы
          </p>
          <div  class="ls-s2 slider_overlay" style="position: absolute; top:283px; left: 1px; slidedirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 4500; delayout : 0; showuntil : 0; text-shadow: 0px 1px 0px #555; padding-right: 25px; padding-left: 25px; padding-top: 11px; padding-bottom: 11px; font-size: 13px; font-weight: 500; color: #f8f8f8; color:#fff; border: 1px solid #555; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;   white-space: nowrap;">
            <a href="/articles/sozdanie-internet-magazinov/internet-magazin-1s-kompleksnoe-predlozhenie" style="color:#fff;">Подробнее</a>
          </div>
        </div>
        <div class="ls-layer"  style="slidedirection: right; slidedelay: 10000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; ">
          <p class="ls-s2" style="position: absolute; top: 103px; left: 256px; slidedirection : left; slideoutdirection : right;  durationin : 1500; durationout : 4; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 200; delayout : 1; showuntil : 0; font-size:60px; font-weight:500;  ">Опыт внедрения</p>
          <p  class="ls-s2 slider_font_color" style="position: absolute; top:205px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; easingin : easeOutBounce; easingout : easeInOutQuint; delayin : 1200; delayout : 0; showuntil : 0; font-size:100px; font-weight:500;  white-space: nowrap;">Достижение цели</p>
          <img class="ls-s2"  src="{{ STATIC_URL }}images/2013/02/bg44.jpg"  style="position: absolute; top: 0px; left: 0px; slidedirection : fade; slideoutdirection : fade;  durationin : 2500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 3000; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/elitecomp.png"  style="position: absolute; top: 51px; left: 3px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 300; durationout : 1000; easingin : swing; easingout : easeInOutQuint; delayin : 4500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/rubki.png"  style="position: absolute; top: 51px; left: 77px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 200; durationout : 1300; easingin : swing; easingout : easeInOutQuint; delayin : 5500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/dostupno.png"  style="position: absolute; top: 51px; left: 151px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 200; durationout : 1600; easingin : swing; easingout : easeInOutQuint; delayin : 6500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/lely.png"  style="position: absolute; top: 51px; left: 225px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 200; durationout : 1900; easingin : swing; easingout : easeInOutQuint; delayin : 7500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/monomo.png"  style="position: absolute; top: 51px; left: 299px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 200; durationout : 2200; easingin : swing; easingout : easeInOutQuint; delayin : 8500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/pixel.png"  style="position: absolute; top: 51px; left: 373px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 200; durationout : 2500; easingin : swing; easingout : easeInOutQuint; delayin : 9500; delayout : 0; showuntil : 0; " alt=""></div>
        <div class="ls-layer"  style="slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; ">
          <img class="ls-s2"  src="{{ STATIC_URL }}images/2013/02/bg3.jpg"  style="position: absolute; top: 0px; left: -459px; slidedirection : fade; slideoutdirection : fade;  durationin : 1500; durationout : 1500; easingin : easeInBack; easingout : easeInOutQuint; delayin : 100; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}images/2013/02/mankuti.png"  style="position: absolute; top: 50px; left: 378px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 200; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2" src="{{ STATIC_URL }}img/baner.jpg"  style="position: absolute; top:78px; left: 399px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 200; delayout : 0; showuntil : 0;  " width="330" height="186" alt="">
          <p  class="ls-s2 slider_overlay" style="position: absolute; top:76px; left: 1px; slidedirection : top;  durationin : 1500; durationout : 1500; easingin : swing; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0; color:#fff; font-weight:500;font-size: 22px;  white-space: nowrap;">Автоматизация бизнес-процесов</p>
          <div  class="ls-s2" style="position: absolute; top:145px; left: -1px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1500; delayout : 0; showuntil : 0; font-size:18px  white-space: nowrap;">
            <i class="icon-chevron-right slider_font_color" style="font-size: 19px;margin-right: 10px;margin-top: 4px;"></i>
            <p style="font-size: 20px;width: 300px;font-weight: 500;">обработка прайс-листов</p>
          </div>
          <div  class="ls-s2" style="position: absolute; top:184px; left: 0px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2000; delayout : 0; showuntil : 0;   white-space: nowrap;">
            <i class="icon-chevron-right slider_font_color" style="font-size: 19px;margin-right: 10px;margin-top: 4px;"></i>
            <p style="font-size: 20px;width: 300px;font-weight: 500;">быстрое наполнение товаров</p>
          </div>
          <div  class="ls-s2" style="position: absolute; top:221px; left: 0px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2500; delayout : 0; showuntil : 0;   white-space: nowrap;">
            <i class="icon-chevron-right slider_font_color" style="font-size: 19px;margin-right: 10px;margin-top: 4px;"></i>
            <p style="font-size: 20px;width: 300px;font-weight: 500;">работа с потоком заказов</p>
          </div>
          <div  class="ls-s2" style="position: absolute; top:258px; left: 0px; slidedirection : left;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2500; delayout : 0; showuntil : 0;   white-space: nowrap;">
            <i class="icon-chevron-right slider_font_color" style="font-size: 19px;margin-right: 10px;margin-top: 4px;"></i>
            <p style="font-size: 20px;width: 300px;font-weight: 500;">фоновый обмен 1С и магазина</p>
          </div>
          <img class="ls-s2"  src="{{ STATIC_URL }}img/logo_pcart.png"  style="position: absolute; top: 308px; left: 188px; slidedirection : bottom;   durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 5000; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/logo_1c.png"  style="position: absolute; top: 307px; left: 1px; slidedirection : bottom;   durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 3500; delayout : 0; showuntil : 0; " alt="">
          <img class="ls-s2"  src="{{ STATIC_URL }}img/logo_aqua.png"  style="position: absolute; top: 307px; left: 97px; slidedirection : bottom;   durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 4000; delayout : 0; showuntil : 0; " alt=""></div>
          </div>
      </div>
    </section>

    <!-- .header -->
