{% load cms_tags sekizai_tags compress %}
{% load i18n %}
{% load menu_tags %}
  <div class="top_nav">

    <div class="container">
      <div class="row-fluid">
        <div class="span7">
          <div id="text-2" class="widget widget_text">
            <div class="textwidget">
                  {% placeholder top_text or %}
                       {% show_placeholder "top_text" "main" %}
                  {% endplaceholder %}
            </div>
          </div>
        </div>
        <div class="span3">
          <div id="search-3" class="widget widget_search">
            <form name="search" action="{% url search %}" method="get">
              <div class="input-append">
                {% csrf_token %}
                <input type="text" size="16" placeholder="Поиск&hellip;" name="search" id="search_input">
                <a href="#" onclick="document.forms['search'].submit(); return false;" type="submit" class="more"><i class="icon-search"></i></a>
              </div>
            </form>
          </div>
        </div>
        <div class="span2">
          <div id="social_widget-2" class="widget social_widget">
            <div class="row-fluid" style="margin-bottom:20px;">
              <div class="span12"></div>
            </div>
            <div class="row-fluid social_">
              <div class="span12"></div>
            </div>
            <div class="row-fluid social_row">
              <div class="span12">
                <ul class="footer_social_icons">
                  <li class="vk">
                    <a href="http://vk.com/id177538927" target="_blank" rel="nofollow"> <i class="icon-vk"></i>
                    </a>
                  </li>
                  <li class="facebook">
                    <a href="https://www.facebook.com/pcart.complex" target="_blank" rel="nofollow"> <i class="icon-facebook"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="https://twitter.com/aqua_web" target="_blank" rel="nofollow"> <i class="icon-twitter"></i>
                    </a>
                  </li>
                  <li class="youtube">
                    <a href="http://www.youtube.com/user/aquawebvideo" target="_blank" rel="nofollow"> <i class="icon-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>