{% if plugins %}
<table width="100%" cellpadding="3" cellspacing="0">
    <tbody>
    {% for plugin in plugins %}
    <tr>
        <td>• {{plugin.name}}</td>
        <td><b>${{plugin.price}}</b></td>
    </tr>
    {% endfor %}
    <tr>
        <td><br>Сумма</td>
        <td><br><b style="color:#D4007D;">${{price}}</b></td>
    </tr>
    </tbody>
</table>
{% endif %}