{% load order_tags %}
<table class="table" id="table_plugin" width="90%">
<tr>
      <td class="topcell" style="background-color:#398fca">{% if name %}{{name}}{% else %}Дополнительные плагины и услуги{% endif %}</td>
      <td class="topcell" style="background-color:#398fca">Заказать</td>
      <td class="topcell" style="background-color:#398fca">usd</td>
      <td class="topcell" style="background-color:#398fca">грн</td>
      <td class="topcell" style="background-color:#398fca">руб</td>
</tr>
{% for plugin in table.plugin.all %}
{% if plugin.is_group %}
<tr {% if not plugin.published %}class="display_none"{% endif %} ><td colspan="5" class="plugin_group" ><span id="{{ plugin.id }}">{{ plugin.name }}:</span></td><tr>
{% else %}
<tr {% if not plugin.published %}class="display_none"{% endif %} >
    <td>
{% if plugin.text %}
<span class="plugin" data-html="true" rel="popover" data-placement="right" data-original-title="{{ plugin.name }}" data-content='{{ plugin.text|safe }}'>{{ plugin.name }}</span>
    <i class="icon_info" data-html="true" rel="clickover" data-placement="{{ plugin.get_place_value }}" data-original-title="{{ plugin.name }}"></i>
        <div class="popper-content">{{ plugin.text|safe }}</div>
{% else %}
{{ plugin.name }}
{% endif %}
    </td>
    <td>
    <input title="Выбирая пункт, вы изменяете стоимость заказа." type="checkbox" class="sum" id="{{ plugin.id }}">
    </input>
    </td>
    <td>
    {{ plugin.price }}
    </td>
    <td>
    {{ plugin.price|count_corrency:"grn" }}
    </td>
    <td>
    {{ plugin.price|count_corrency:"rub" }}
    </td>
</tr>
{% endif %}
{% endfor %}
</table>



<div id="fixed_price">
    <div id="fixed_price_in">
      <div id="fixed_price_in_right" style="opacity: 1; display: block;">
      <p>Сумма:</p>
        <div class="fixed_price_sum"><span></span></div>
        <div class="clear"></div>
        <a href="javascript:;" id="zakaz88">Заказать</a>
        <div class="fixed_price_sum_grn"><span></span></div>
        <div class="fixed_price_sum_rub"><span></span></div>
      </div>
    </div>
</div>

<script type="text/javascript">
window.sum_start = 0;
window.plugins_id = [];
window.types = ''
lst = getURLParameter('ids').split(',')
type = getURLParameter('type')
open = getURLParameter('open').split(',')
hide = getURLParameter('hide').split(',')
if(hide.length){
  for (var i=0; i<hide.length; i++){
    $('#'+hide[i]).parent().parent().addClass("display_none");
  }
}
if(open.length){
  for (var i=0; i<open.length; i++){
    $('#'+open[i]).parent().parent().removeClass();
  }
}
if(lst.length){
  for (var i=0; i<lst.length; i++){
    $('#'+lst[i]).attr('checked', true);
  }
}
vibor("zakaz2");
if (type!="null"){
  vibor(type);
}
$(".sum").click(function (){
   calc_sum(); 
})
$("#zakaz1").click(function (){
 vibor($(this).attr('id'));
})
$("#zakaz2").click(function (){
 vibor($(this).attr('id'));
})
$("#zakaz3").click(function (){
 vibor($(this).attr('id'));
})

$("#zakaz1_1").click(function (){
 vibor($(this).attr('id'));
})
$("#zakaz2_1").click(function (){
 vibor($(this).attr('id'));
})
$("#zakaz3_1").click(function (){
 vibor($(this).attr('id'));
})

$("#zakaz88").click(function (){
checkout();
})

function format_space(value){
  return (''+value).replace(/(?=(?:\d{3})+$)(?!^)/g, ' ');
}

function calc_sum() {
var sum=0;
window.plugins_id = [];
sum+=window.sum_start;
var grn_k=parseFloat({{grn}});
var rub_k=parseFloat({{rub}});
$(".sum:checked").each(function (){
      sum += parseInt($(this).parent().next().text()); 
      window.plugins_id.push(this.id);
  });
  $(".fixed_price_sum span").html('$'+format_space(sum));
  $(".fixed_price_sum_grn span").html(format_space(Math.round(grn_k*sum/10)*10) + ' грн.');
  $(".fixed_price_sum_rub span").html(format_space(Math.round(rub_k*sum/10)*10) + ' руб');
  $("#fixed_price_in_right").animate({ opacity:"0.2",}, 200,'',function (){
    $(this).animate({ opacity:"1",}, 200);
  });
}
function vibor(vibor_id) {
    if($('#'+vibor_id).html()=='Заказать') checkout();
        $("#zakaz1,#zakaz2,#zakaz3,#zakaz1_1,#zakaz2_1,#zakaz3_1").each(function (){
        $(this).html('Выбрать'); 
    });
    $('#'+vibor_id).html('Заказать');
    $('#'+vibor_id+'_1').html('Заказать');
    window.sum_start = parseInt($('#price_'+vibor_id).html());
    calc_sum();
    window.types = $('#'+vibor_id).data("type");
}
function checkout() {
    var url = "/zakaz-internet-magazina?type="+window.types+'&price='+window.sum_start;
    if (window.plugins_id.length>0) url += "&ids="+window.plugins_id;
    $(location).attr('href',url);
}
function getURLParameter(name) {
    return decodeURI(
        (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
    );
}
</script>
