{% load friendly order_tags %}
<form name="{{ form_definition.name }}" action="{{ form_definition.action }}" method="{{ form_definition.method }}" enctype="multipart/form-data">
    <table>
        <tbody>
            {% for entry in logs %}
                {% for field in entry.data %}
                <tr>
                    <th>{{ field.label }}</th>
                    <td>{{ field.value|friendly }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            {% for field in form %}
            {% ifequal field.name "price" %}
            <td class="display_none">
                <input type="text" name="price" id="id_price" value="{% order_price %}">
            </td>
            {% else %}
            {% ifequal field.name "url" %}
            <td class="display_none">
                <input type="text" name="url" id="id_url" value="{{request.get_full_path}}">
            </td>
            {% else %}
            {% ifequal field.name "plugins_ids" %}
            <th>
                <label for="id_plugins_ids">{{ field.label }}</label>
            </th>
            <td>
                <textarea rows="10" cols="45" name="plugins_ids" id="id_plugins_ids" readonly>{% extra_plugins %}</textarea>
            </td>
            {% else %}
                {% if not field.is_hidden %}
                <tr class="field {% if field.errors %}errors{% endif %}{% if field.field.required %}{% if field.errors %} {% endif %}required{% endif %}">
                    <th>
                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    </th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                    </td>
                </tr>
                {% endif %}
            {% endifequal %}
            {% endifequal %}
            {% endifequal %}
            {% endfor %}                                 
            <tr class="buttons">
                <td>&nbsp;</td>
                <th>{% include "html/formdefinition/forms/includes/submit.html" %}</th>
            <tr>
        </tbody>
    </table>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
</form>