{% extends "base.html" %}
{% load photologue_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block header_content %}<h1>{{ object.title }}</h1>{% endblock %}

{% block template_content %}
<div class="row-fluid">
<div class="yashare-auto-init" data-yashareL10n="ru"
 data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,gplus"></div> 
 </div>
<h1>{{ object.title }}</h1>
<div class="row-fluid">
<div class="span12">
	<div class="span6">
        <p>{{ object.full_caption|safe }}</p>
    </div>
    <div class="span6">
    	<a class="fancybox" title="{{ object.title }}" data-fancybox-group="gallery" href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}"/>
    </a>
    </div>
</div>
<a href="http://orphus.ru" id="orphus" target="_blank" title="Система Orphus"><img alt="Система Orphus" src="{{STATIC_URL}}img/orphus.gif" border="0" width="88" height="31"></a> 
</div> 
<script type="text/javascript" src="{{STATIC_URL}}js/orphus.js"></script>
<div class="alert alert-orphus">
  Заметили ошибку? Пожалуйста, выделите ее мышкой и нажмите Ctrl+Enter
</div> 

{% endblock %}
